
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Big Data Set</title>
  
    <meta name="theme-color" content="#712cf9">

    <link href="/static/style.css" rel="stylesheet" >
    <link href="/static/dashboard.css" rel="stylesheet">
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <script src="/static/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/canvasjs.min.js"></script>
  </head>

  <body>  
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#"><img width=24 src="/static/bug.png"/> Big Data Set</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3 sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">
                  <span class="align-text-bottom"></span>
                  Overview
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/draws">
                  <span class="align-text-bottom"></span>
                  Draws
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sets">
                  <span class="align-text-bottom"></span>
                  Sets
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:10101/">
                  <span class="align-text-bottom"></span>
                  Admin UI
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Overview</h1>
          </div>

          <div id="chartContainer" style="height: 370px; width: 100%;"></div>

          <h2>Stats</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">Draw Size</th>
                  <th scope="col"># Draws</th>
                  <th scope="col"># Sets</th>
                  <th scope="col"># No Sets</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>12</td>
                  <td>100000</td>
                  <td>100</td>
                  <td>88</td>
                </tr>
                <tr>
                  <td>15</td>
                  <td>100,000</td>
                  <td>100</td>
                  <td>88</td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <script>
    $(document).ready(function(){
      var dataPoints = [];

      var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        theme: "light2",
        title: {
          text: "Draws by # of Sets"
        },
        axisY: {
          title: "Draws",
          titleFontSize: 18,
          includeZero: false,
          logarithmic: true,
          valueFormatString: "####0"
        },
        axisX: {
          title: "# of Sets",
          valueFormatString: "####0",
          tickWidth: 100
        },
        data: [{
          type: "column",
          yValueFormatString: "#,### Draws",
          dataPoints: dataPoints,
          click: function(e) { window.location.href = "/cards?num="+e.dataPoint.x; }
        }]
      });

      function addData(data) {
        var total = 0;
        for (var i = 0; i < data.length; i++) {
          dataPoints.push({
            x: data[i].num_sets,
            y: data[i].count
          });
          total = total + data[i].count;
        }
        chart.render();
        chart.title.set("text", total.toLocaleString('en-US')+" total draws");
      }

      // get the URL parameters
      var url = new URL(window.location);
      var size = url.searchParams.get('size');
      if (size == null) {
        size = 12;
      }

      var num_sets = url.searchParams.get('num_sets');
      if (num_sets == null) {
        num_sets = 0;
      }
      $.getJSON("/api/data?size="+size+"&num_sets="+num_sets, addData);

      setInterval(function() {
        $.get('/api/draw?num=10000');
      },15000);

      setInterval(function() {
        $.getJSON("/api/data?size="+size+"&num_sets="+num_sets, addData);
      }, 10000);

    });
  </script>
  
  </body>
</html>
