
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Big Data Set</title>
  
    <meta name="theme-color" content="#712cf9">

    <link href="/static/style.css" rel="stylesheet" >
    <link href="/static/dashboard.css" rel="stylesheet">
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <script src="/static/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/canvasjs.min.js"></script>
  </head>

  <body>  
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#"><img width=24 src="/static/bug.png"/> Big Data Set</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="" aria-label="Search">
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3 sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">
                  <span class="align-text-bottom"></span>
                  Overview
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/games">
                  <span class="align-text-bottom"></span>
                  Games
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/draws">
                  <span class="align-text-bottom"></span>
                  Draws
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sets">
                  <span class="align-text-bottom"></span>
                  Sets
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:10101/">
                  <span class="align-text-bottom"></span>
                  Admin UI
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Draws</h1>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th style='width: 24px;' scope="col">ID</th>
                  <th style='width: 100px;' scope="col">Draw Size</th>
                  <th style='width: 33%;' scope="col">Cards</th>
                  <th style='width: 80px;' scope="col"># Sets</th>
                  <th scope="col">Set IDs</th>
                </tr>
              </thead>
              <tbody id="stats_table">
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <script>
    // add commas to things
    function nWC(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function loadTable(size, num_sets, draw_id) {
      if (draw_id == null) {
        var url = "/api/draws?size="+size+"&num_sets="+num_sets;
      } else {
        var url = "/api/draws?draw_id="+draw_id;
      }
      $.getJSON(url, function(data) {
        var html = "";
        // loop over each draw size
        $.each(data, function(index, entry){
          // loop over sets
          var set_html = "";
          $.each(entry.sets, function(index, set){
            set_html = set_html + " <a href='/sets?set_id="+set+"'>"+set+"</a>,";
          });
          // trim the ,
          set_html = set_html.slice(0, -1);

          // draw view
          var card_html = "";
          $.each(entry.files, function(index, file) {
            card_html = card_html + "<img src='/static/"+file+"'/>";
            if (index!=0 && ((index+1)%3)==0) {
              card_html = card_html + "<br/>";
            }
          });

          // build an html to send to table
          html = html + "<tr>";
          html = html + "<td><a href='/draws?draw_id="+entry.id+"'>"+entry.id+"</a></td><td>"+entry.draw_size+"</td><td>"+card_html+"</td><td>"+entry.num_sets+"</td><td>"+set_html+"</td>";
          html = html + "</tr>";
        });
        // update the html
        $("#stats_table").html($(html));
      });
    }

    $(document).ready(function(){
      // get the URL parameters
      var url = new URL(window.location);
      
      // get size, if any
      var size = url.searchParams.get('size');
      if (size == null) {
        size = 12;
      }

      // get num_sets
      var num_sets = url.searchParams.get('num_sets');
      if (num_sets == null) {
        num_sets = 0;
      }

      var draw_id = url.searchParams.get('draw_id');
      loadTable(size, num_sets, draw_id);

      /*
      setInterval(function() {
        $.getJSON("/api/chart?size="+size, addData);
        loadTable(size);
      }, 10000);
      */
    });
  </script>
  
  </body>
</html>
