
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Big Data Set</title>
  
    <meta name="theme-color" content="#712cf9">

    <link href="/static/style.css" rel="stylesheet" >
    <link href="/static/dashboard.css" rel="stylesheet">
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <script src="/static/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/canvasjs.min.js"></script>
  </head>

  <body>  
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#"><img width=24 src="/static/bug.png"/> Big Data Set</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="" aria-label="Search">
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3 sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">
                  <span class="align-text-bottom"></span>
                  Overview
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/games">
                  <span class="align-text-bottom"></span>
                  Games
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/draws">
                  <span class="align-text-bottom"></span>
                  Draws
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sets">
                  <span class="align-text-bottom"></span>
                  Sets
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:10101/">
                  <span class="align-text-bottom"></span>
                  Admin UI
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Games</h1>
          </div>

          <div id="chartContainer" style="height: 370px; width: 100%;"></div>

          <h2>Stats</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col"># Sets</th>
                  <th scope="col"># Draws</th>
                </tr>
              </thead>
              <tbody id="stats_table">
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <script>
    // add commas to things
    function nWC(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function loadTable(size) {
      $.getJSON("/api/chart?size="+size, function(data) {
        var html = "";
        // loop over each draw size
        $.each(data, function(index, entry){
          // build an html to send to table
          html = html + "<tr>";
          html = html + "<td><a href='/draws?size="+size+"&num_sets="+entry.num_sets+"'>"+entry.num_sets+"</a></td><td>"+nWC(entry.count)+"</td>";
          html = html + "</tr>";
        });
        // update the html
        $("#stats_table").html($(html));
      });
    }

    $(document).ready(function(){
      // get the URL parameters
      var url = new URL(window.location);
      
      // get size, if any
      var size = url.searchParams.get('size');
      if (size == null) {
        size = 12;
      }

      // get num_sets
      var num_sets = url.searchParams.get('num_sets');
      if (num_sets == null) {
        num_sets = 0;
      }

      // load table's stats
      loadTable(size);

      // chart
      var barChartData = [];

      function addData(data) {
        var draw_size = 0;
        var barChartData = [];
        var dataPointsArray = [];
        var total = 0;
        $.each(data, function(index, entry) {
          total = total + entry.count;
          if (draw_size != entry.draw_size) {
            // we noticed a switch in draw size, so push if not zero
            if (draw_size != 0) {
              barChartData.push({
                type: "stackedColumn",
                showInLegend: true,
                name: draw_size+" cards",
                dataPoints: dataPointsArray
              });
              dataPointsArray = [];
            }

            // set draw_size to the entry we're processing
            // this only works because the array of dicts is in order by draw_size
            draw_size = entry.draw_size;
          }
          var count = entry.count;
          var num_sets = entry.num_sets;
          dataPointsArray.push({x: num_sets, y: count});
        });

        // last push
        barChartData.push({
          type: "stackedColumn",
          showInLegend: true,
          name: draw_size+" cards",
          dataPoints: dataPointsArray
        });

        var chart = new CanvasJS.Chart("chartContainer", {
          animationEnabled: true,
          theme: "light2",
          title: {
            text: "Draws by # of Sets"
          },
          axisY: {
            title: "Draws",
            titleFontSize: 18,
            includeZero: false,
            logarithmic: true,
            logarithmBase: 3.14159,
            valueFormatString: "####0"
          },
          axisX: {
            interval: 1,
            title: "# Sets Found",
            valueFormatString: "####0"
          },
          toolTip: {
            shared: true,
            // content: toolTipContent
          },
          data: barChartData
        });

        chart.render();
        chart.title.set("text", total.toLocaleString('en-US')+" total draws");
      }

      $.getJSON("/api/chart?size="+size, addData);

      setInterval(function() {
        $.get('/api/draw?num=5000&size='+size);
      },15000);

      setInterval(function() {
        $.getJSON("/api/chart?size="+size, addData);
        loadTable(size);
      }, 10000);

    });
  </script>
  
  </body>
</html>
