<!DOCTYPE HTML>
<html>
<head>
<script>

window.onload = function() {

	var dataPoints = [];

	var logchart = new CanvasJS.Chart("logchartContainer", {
		animationEnabled: true,
		theme: "light2",
		title: {
			text: "Big Data Sets - log()"
		},
		axisY: {
			title: "Draws",
			titleFontSize: 18,
			includeZero: true,
			logarithmic: true,
			logarithmBase: 2
		},
		data: [{
			type: "column",
			yValueFormatString: "#,### Draws",
			dataPoints: dataPoints,
			click: function(e) { window.location.href = "/sets?num="+e.dataPoint.x; }
		}]
	});

	var chart = new CanvasJS.Chart("chartContainer", {
		animationEnabled: true,
		theme: "light2",
		title: {
			text: "Big Data Sets"
		},
		axisY: {
			title: "Draws",
			titleFontSize: 18,
			includeZero: true,
		},
		data: [{
			type: "column",
			yValueFormatString: "#,### Draws",
			dataPoints: dataPoints,
			click: function(e) { window.location.href = "/sets?num="+e.dataPoint.x; }
		}]
	});

	function addData(data) {
		var total = 0;
		for (var i = 0; i < data.length; i++) {
			dataPoints.push({
				x: data[i].num_sets,
				y: data[i].count
			});
			total = total + data[i].count;
		}
		console.log(chart);
		chart.options.title.text = "Big Data Sets ("+total.toLocaleString('en-US')+" draws)";
		logchart.options.title.text = "Big Data Sets log(2) ("+total.toLocaleString('en-US')+" draws)";
		chart.render();
		logchart.render();
	}

	// get the URL parameters
	var url = new URL(window.location);
	var size = url.searchParams.get('size');
	if (size == null) {
		size = 12;
	}

	$.getJSON("/data?size="+size, addData);

}

</script>
</head>
<body>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<div id="logchartContainer" style="height: 370px; width: 100%;"></div>
<script src="/static/jquery.min.js"></script>
<script src="/static/canvasjs.min.js"></script>
</body>
</html>