<!DOCTYPE HTML>
<html>
<head>
<script>

window.onload = function() {
	function get_card(card_id) {
		console.log(card_id);
		var shades = ["solid", "dashed", "open"];
		var colors = ["purple", "red", "green"];
		var counts = [1,2,3];
		var shapes = ["squiggle", "oval", "diamond"];


		var _id = 0;
		for (let sh = 0; sh < shades.length; sh++) {
			for (let co = 0; co < colors.length; co++) {
				for (let cou = 0; cou < counts.length; cou++) {
					for (let shap = 0; shap < shapes.length; shap++) {
						if (_id == card_id) {
							console.log(shades[sh], colors[co], counts[cou], shapes[shap]);
							var image_tag = '<img style="transform:rotate(90deg); padding-left: 60px;" src="/static/'+colors[co]+'_'+shapes[shap]+'_'+shades[sh]+'_'+counts[cou]+'.PNG"/>';
							console.log(image_tag);
							$('#drawContainer').prepend(image_tag);
							return;
						} else {
							_id = _id + 1;
						}
					}
				}
			} 
		}
	}

	function addCards(data) {
		for (let da = 0; da < data.length; da++) {
			get_card(data[da]);
			console.log(data[da]);
		}
	}

	var url = new URL(window.location);
	var draw_id = url.searchParams.get('draw_id');

	$.getJSON("/api/draw?draw_id="+draw_id, addCards);
}

</script>
</head>
<body>
<div id="drawContainer" style="height: 100%; width: 480px;"></div>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</body>
</html>